@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'Bookmarks';
    src: url('fonts/bookmarks/bookmark.eot');
    src: url('fonts/bookmarks/bookmark.eot') format('embedded-opentype'),
         url('fonts/bookmarks/bookmark.woff') format('woff'),
         url('fonts/bookmarks/bookmark.ttf') format('truetype'),
         url('fonts/bookmarks/bookmark.svg#LamebrainBRKRegular') format('svg');
}
* {
	font-style: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
}

a,a img {
	text-decoration: none;
	outline: 0 none !important;
	border: 0px none !important;
}

#logo {
	display: block;
	float: left;
}

header#header {
	background-color: #000000;
	color: #FFFFFF;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	height: 30px;
	left: 0;
	margin: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 90;
}

#wrapper{
	font-family: Georgia, serif;
	font-size: 12px;
	font-weight: normal;
}
div#content {
	font-family: Bookmarks;
	font-size:16px;
	/*background: url("../images/default_background.png") transparent;*/
	left: 0;
	margin: 0;
	padding: 10px;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 50px 0 30px 0;
}

footer#footer {
	font-size: 1em;
	color: #FFFFFF;
	background-color: #000000;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	height: 20px;
	min-height: 15px;
	padding: 5px;
	left: 0;
	margin: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 90;
	left: 0;
}

.articleBookmark {
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	padding-top: 10px;
	margin: 10px 0 0 30px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.articleBookmark a {
	color: #000 !important;
}

.articleBookmark:hover {
	color: #FFF !important;
	background-color: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.articleBookmark:hover a {
	color: #FFF !important;
}

.articleBookmark img {
	height: 64px;
	width: 64px;
}

.articleBookmark .delete {
	display: none;
	float: right;
	height: 24px;
	width: 24px;
	margin-top: -20px;
	margin-right: -12px;
}

.articleBookmark:hover .delete {
	display: block;
	background-image: url("../images/bookmark_delete.png");
}

.articleBookmark .edit {
	display: none;
	float: left;
	height: 24px;
	width: 24px;
	margin-top: -20px;
	margin-left: -12px;
}

.articleBookmark:hover .edit {
	display: block;
	background-image: url("../images/bookmark_edit.png");
}

.error {
	z-index: 1100;
	padding-top: 0px !important;
}

.error p {
	line-height: 0;
	padding: 0;
}
#divAddBookmark{
	float:right;
	margin-right:10px;
}
a.add_bookmark{
	display:block;
	height:32px;
	width:32px;	
	background: url("../images/default_bookmark_add.png");
}

#divHeaderLogin {
	padding-top:7px;
	float: right;
}

#divHeaderLogin a,#divHeaderLogin a:visited,#divHeaderLogin a:hover, #divHeaderLogin a:active {
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
}

.pr {
	-moz-transition: color 0.5s ease 0s;
	color: #3390E6;
	margin-right: 20px;
	text-shadow: -1px 0 rgba(0, 0, 0, 0.25), 0 -1px rgba(0, 0, 0, 0.25), 0
		1px rgba(255, 255, 255, 0.25), -1px -1px rgba(0, 0, 0, 0.3);
}

.pl {
	-moz-transition: color 2s ease 0s;
	color: #FFFFFF;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.pl:hover{
	color: #3390E6;
}
/**
	Iphone specific changes
**/

#customBackground img{
	display:block;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left: 0;
	opacity: 0.3;
	filter: alpha(opacity=30);
	z-index:-1;
}
/* Media Query For width:700px */
@media all and (min-width:700px) {
	header#header aside {
		width: 700px;
		display: block;
		margin: 0 auto;
	}
}

/* Media Query For width:1000px */
@media all and (min-width:1000px) {
	header#header aside {
		width: 1000px;
		display: block;
		margin: 0 auto;
	}
}